/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: 700;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}


.story-user {
  display: block;
}

/* student code - added css for colors and placement of list items */
.stories-list  .story-author {
  color: #3e9922;
  font-weight: 600;
  display: block;
  margin-left: 23px;
}

.stories-list  .story-user {
  color: #f1b528;
  display: block;
  margin-left: 23px;

}
/* end of student code */